<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных-и-изучение-общей-информации" data-toc-modified-id="Загрузка-данных-и-изучение-общей-информации-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных и изучение общей информации</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Заменим-вещественный-тип-данных-в-столбце-total_income-на-целочисленный-с-помощью-метода-astype()." data-toc-modified-id="Заменим-вещественный-тип-данных-в-столбце-total_income-на-целочисленный-с-помощью-метода-astype().-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Заменим вещественный тип данных в столбце total_income на целочисленный с помощью метода astype().</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Категоризация данных</a></span></li></ul></li><li><span><a href="#Исследование-данных" data-toc-modified-id="Исследование-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследование данных</a></span><ul class="toc-item"><li><span><a href="#Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Есть ли зависимость между количеством детей и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li><li><span><a href="#Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li><li><span><a href="#Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Как разные цели кредита влияют на его возврат в срок?</a></span></li></ul></li><li><span><a href="#Приведите-возможные-причины-появления-пропусков-в-исходных-данных" data-toc-modified-id="Приведите-возможные-причины-появления-пропусков-в-исходных-данных-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Приведите возможные причины появления пропусков в исходных данных</a></span><ul class="toc-item"><li><span><a href="#Объясните,-почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных" data-toc-modified-id="Объясните,-почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных</a></span></li></ul></li><li><span><a href="#Общий-вывод" data-toc-modified-id="Общий-вывод-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Общий вывод</a></span></li></ul></div>

**Исследование надежности заемщиков**

**Описание проекта**

На основе данных кредитного отдела банка исследовал влияние семейного положения и количества детей на факт погашения кредита в срок. Была получена информация о данных. Определены и обработаны пропуски. Заменены типы данных на соответствующие хранящимся данным. Удалены дубликаты. Выделены леммы в значениях столбца и категоризированны данные.

**Задача проекта**

На основе статистики о платёжеспособности клиентов исследовать влияние семейное положение и количества детей клиента на факт возврата кредита в указанный срок.

**Описание данных**

- **children** — количество детей в семье
- **days_employed** — общий трудовой стаж в днях
- **dob_years** — возраст клиента в годах
- **education** — уровень образования клиента
- **education_id** — идентификатор уровня образования
- **family_status** — семейное положение
- **family_status_id** — идентификатор семейного положения
- **gender** — пол клиента
- **income_type** — тип занятости
- **debt** — имел ли задолженность по возврату кредитов
- **total_income** — ежемесячный доход
- **purpose** — цель получения кредита

**План выполнения проекта**

**Шаг 1.** Загрузить исходные данные и изучить общую информацию

**Шаг 2.** Выполнить предобработку данных
- изучить и обработать пропуски данных;
- выявить и изучить аномалии в первоночальных данных;
- изучить и при необходимости изменить типы данных;
- обнаружить и обработать явные и неявные дубликаты. 

**Шаг 3.** Свормировать дополнительные столбцы для удобства анализа данных

**Шаг 4.** Ответить на поставленные вопросы исследования 

**Шаг 5.** Подготовить вывод и рекомендации на основании полученных данных

## Загрузка данных и изучение общей информации

In [2]:
# импортируем библиотеку pandas

import pandas as pd

In [3]:
# причитаем данные из csv-файла в датафрейм и сохраним в переменную data

data = pd.read_csv('F:/Work projects/bank_data_project.csv')

In [4]:
# просмотрим первые 20 строчек датафрейма data на экране

data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [5]:
#  просмотрим основную информацию о датафрейме

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

**Вывод**

Прочитанные данные соответствуют описанию в техническом задании.

## Предобработка данных

### Удаление пропусков

In [6]:
# выведем количество пропущенных значений для каждого столбца.

data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце возможно медианным значением по каждому типу из столбца `total_income`. Кроме этого, у клиента с типом занятости `сотрудник` пропуск в столбце `total_income` необходимо заполнить медианным доходом среди всех записей с тем же типом.

In [7]:
 # функция заменяет NaN в total_income на медианное значение этого столбца у соответствующего income_type
    
def fillbygroup(data):
    unique_inc_type = data['income_type'].unique()
    for type in unique_inc_type:
        data.loc[data['income_type'] == type, 'total_income'] = data.loc[data['income_type'] == type, 'total_income'].fillna(data[data['income_type'] == type]['total_income'].median())
    return data
 
data = fillbygroup(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [8]:
# заполним пропуски в столбце days_employed медианными значениями по каждому типу занятости income_type.

for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Обработка аномальных значений

Обработаем пропуски в столбце days_employed. Отрицательное количество дней трудового стажа - это аномалия.

In [9]:
# заменим все отрицательные значения положительными с помощью метода abs()

data['days_employed'] = data['days_employed'].abs()

In [10]:
# для каждого типа занятости выведем медианное значение трудового стажа days_employed в днях.

data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

In [11]:
# выведем перечень уникальных значений столбца children, чтобы убедиться, что артефакты удалены.

data['children'].sort_values().unique()

array([-1,  0,  1,  2,  3,  4,  5, 20], dtype=int64)

In [12]:
# удалим строки столбца `children` в которых встречаются аномальные значения из датафрейма data

data = data.loc[data['children'] !=-1]
data = data.loc[data['children'] !=20]

In [13]:
# выведем перечень уникальных значений столбца children, чтобы убедиться, что артефакты удалены.

data['children'].sort_values().unique()

array([0, 1, 2, 3, 4, 5], dtype=int64)

### Заменим вещественный тип данных в столбце total_income на целочисленный с помощью метода astype().

In [14]:
data['total_income'] = data['total_income'].astype('int')

### Обработка дубликатов

In [15]:
# выведем уникальные занчения столбца `education`

data['education'].sort_values().unique()

array(['ВЫСШЕЕ', 'Высшее', 'НАЧАЛЬНОЕ', 'НЕОКОНЧЕННОЕ ВЫСШЕЕ',
       'Начальное', 'Неоконченное высшее', 'СРЕДНЕЕ', 'Среднее',
       'УЧЕНАЯ СТЕПЕНЬ', 'Ученая степень', 'высшее', 'начальное',
       'неоконченное высшее', 'среднее', 'ученая степень'], dtype=object)

In [16]:
# привем их к нижнему регистру и проверим результат

data['education'] = data['education'].str.lower()
data['education'].sort_values().unique()

array(['высшее', 'начальное', 'неоконченное высшее', 'среднее',
       'ученая степень'], dtype=object)

In [17]:
data.duplicated().sum()
data = data.drop_duplicates(keep='first')

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме data столбец **total_income_category** с категориями:

- 0–30000 — 'E';
- 30001–50000 — 'D';
- 50001–200000 — 'C';
- 200001–1000000 — 'B';
- 1000001 и выше — 'A'.

In [21]:
# bспользуйем собственную функцию с именем categorize_income() и метод apply()

def categorize_income(income):
    if income < 30001:
        return 'E'
    elif 30001 <= income < 50001:
        return 'D'
    elif 50001 <= income <200001:
        return 'C'
    elif 200001 <= income <1000001:
        return 'B'
    else:
        return 'A'

In [22]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [23]:
data['purpose'].sort_values().unique()

array(['автомобили', 'автомобиль', 'высшее образование',
       'дополнительное образование', 'жилье',
       'заняться высшим образованием', 'заняться образованием',
       'на покупку автомобиля', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля', 'на проведение свадьбы',
       'недвижимость', 'образование', 'операции с жильем',
       'операции с коммерческой недвижимостью',
       'операции с недвижимостью', 'операции со своей недвижимостью',
       'покупка жилой недвижимости', 'покупка жилья',
       'покупка жилья для сдачи', 'покупка жилья для семьи',
       'покупка коммерческой недвижимости', 'покупка недвижимости',
       'покупка своего жилья', 'получение высшего образования',
       'получение дополнительного образования', 'получение образования',
       'приобретение автомобиля', 'профильное образование',
       'ремонт жилью', 'свадьба', 'свой автомобиль',
       'сделка с автомобилем', 'сделка с подержанным автомобилем',
       'строительство жилой недвижимости', 'строительство недвижимости',
       'строительство собственной недвижимости', 'сыграть свадьбу'],
      dtype=object)

Создадим функцию, которая на основании данных из столбца purpose сформирует новый столбец purpose_category, в который войдут следующие категории:

- `операции с автомобилем`,
- `операции с недвижимостью`,
- `проведение свадьбы`,
- `получение образования`.

In [24]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [25]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследование данных

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [26]:
# функция категоризации по кооличеству детей

def children_category(children):
    if 1 <= children <= 2:
        return 'есть дети'
    if children >= 3:
        return 'многодетный'
    return 'нет детей'

In [28]:
# создаем столбец children_rank

data['children_rank'] = data['children'].apply(children_category)

In [29]:
# Проверяем результат. Выведем последние 5 значений

data.tail()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,children_rank
21520,1,4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью,есть дети
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем,нет детей
21522,1,2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью,есть дети
21523,3,3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем,многодетный
21524,2,1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем,есть дети

In [132]:
# создаем копию датасета, что бы не работать с исходным

temp = data.copy()

# Напишем функцию, так как все задачи аналогичны

def que(category):
    data_temp = temp.pivot_table(index=category, values='debt', aggfunc=['count', 'sum', 'mean'])
    data_temp.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
    # Оформим таблицу цветным градиентом, но можно ее вывести и просто display(data_temp)
    display(data_temp.style.format("{:.3f}").background_gradient(cmap='Blues', axis=0))
    
que('children')

**Вывод**: 

*Наличие детей повышает вероятность задолженности.*

* Возможно, это связано с дополнительными расходами на детей. Однако, в многодетных семьях уровень должников ниже (8.2%), чем в семьях с одним или двумя детьми (9.3%). Это может быть связано либо с тем, что существуют программы поддержки многодетных семей или количество заемщиков в категории "многодетный" для данного сравнения недостаточно. Для категории граждан без детей самый низкий показатель должников (7.3%).

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [133]:
# cформируем таблицу методом pivot_table()
debt_family_status = data.pivot_table(index='family_status', columns='debt', values='gender', aggfunc='count')

# cформируем столбцы
debt_family_status.columns = ['no_debt', 'debt']

# подсчитаем долю должников
debt_family_status['share_of_debtors'] = debt_family_status['debt'] / (debt_family_status['debt'] + debt_family_status['no_debt'])

# переведем значения в столбце доля дожников в проценты
debt_family_status['share_of_debtors'] = debt_family_status['share_of_debtors'].map('{:.1%}'.format)

# oтсортируем столбец доля должников по убыванию
debt_family_status.sort_values(by='share_of_debtors', ascending=False)

                       no_debt  debt share_of_debtors
family_status
Не женат / не замужем     2523   273             9.8%
гражданский брак          3749   385             9.3%
женат / замужем          11334   927             7.6%
в разводе                 1105    84             7.1%
вдовец / вдова             888    63             6.6%

**Вывод:** 

*Холостые и живущие в граждансокм браке пары больше подвержены риску стать должниками.*

* Может быть, это связано с тем, что у них больше свободы действий по распоряжению своими средствами. У них нет совместных накоплений, каждый распоряжается своими средствами по своему. Остальные категории, находящиеся в браке или на текущей момент в браке имеют меньшие проценты должников. Наиболее низкий процент у категории вдовец/вдова (6.6%). Это может быть связано с дополнительными средствами, доставшимися по наследству.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [134]:
# сформируем таблицу методом pivot()
debt_total_income = data.pivot_table(index='total_income_category', columns='debt', values='gender', aggfunc='count')

# сформируем столбцы
debt_total_income.columns = ['no_debt', 'debt']

# подсчитаем долю должников
debt_total_income['share_of_debtors'] = debt_total_income['debt'] / (debt_total_income['debt'] + debt_total_income['no_debt'])

# переведем значения в столбце доля дожников в проценты
debt_total_income['share_of_debtors'] = debt_total_income['share_of_debtors'].map('{:.1%}'.format)

# отсортируем по столбцу доля лолжников по убыванию
debt_total_income.sort_values(by='share_of_debtors', ascending=False)

                       no_debt  debt share_of_debtors
total_income_category
E                           20     2             9.1%
C                        14568  1353             8.5%
A                           23     2             8.0%
B                         4660   354             7.1%
D                          328    21             6.0%

**Вывод**

*Категория граждан (С) со средним доходом (50001–200000) больше подвержены риску стать должниками.*

* Несмотря на то, что в итоговой таблице должников данная категория граждан имеет не самый высокий процент по должникам, для точного исследования нам необходимо рассматривать репрезентативные выборки (категории граждан). Соответственно категории "E" и "A" мы не берем в расчет (из-за маленькой выборки), а выводы делаем опираясь на категории C, B, D. Сравнивая эти категории можно сделать вывод, что наибольший риск стать должниками у категории C, а наименьший у категории D.

### Как разные цели кредита влияют на его возврат в срок?

In [135]:
# сформируем таблицу методом pivot_table()
debt_purpose_category = data.pivot_table(index='purpose_category', columns='debt', values='gender', aggfunc='count')

# сформируем столбцы
debt_purpose_category.columns = ['no_debt', 'debt']

# подсчитаем долю должников
debt_purpose_category['share_of_debtors'] = debt_purpose_category['debt'] / (debt_purpose_category['debt'] + debt_purpose_category['no_debt'])

# переводем значения в столбце доля дожников в проценты
debt_purpose_category['share_of_debtors'] = debt_purpose_category['share_of_debtors'].map('{:.1%}'.format)

# отсортируем по столбцу доля лолжников по убыванию
debt_purpose_category.sort_values(by='share_of_debtors', ascending=False)

                          no_debt  debt share_of_debtors
purpose_category
операции с автомобилем       3879   400             9.3%
получение образования        3619   369             9.3%
проведение свадьбы           2130   183             7.9%
операции с недвижимостью     9971   780             7.3%

**Вывод:**

*Граждане, берущие кредиты на получение образования и операции с автомобилем больше подвержены риску стать должниками.*

* Эти две категории имеют одинаковый процент должников (9.3%). Граждане, которые берут кредит для проведения операций с недвижимостью более отвественно подходят к его погашению. Заемщики оформляющие кредиты на получение образования и операции с автомобилем больше подвержены риску стать должниками. Денежные средства взятые на дополнительное образование или приобретение автомобиля несут для заемщика дополнительные риски невозврата кредита по причине непредвиденных расходов связанных с эксплуатацией автомобиля (крупные поломки и ДТП), а также проблемы при трудоустройстве на новую работу или непредвиденное увеличение срока поиска новой работы.

## Приведите возможные причины появления пропусков в исходных данных

**Вывод:**

*Появленные пропуски в исходных данных могли появиться по следующим причинам:*

- **Организационного характера** - политика конфиденциальности банка препятсвующая иденификации отдельных физических лиц или
  юридических лиц.
- **Технического характера** - отсутсвующие данные могли появиться в следствии нарущениия процесса сбора и обработки данных, 
  програмных сбоев и проблем с оборудованием.
- **Человеческий фактор** - случайные и осознанные ошибки при вводе данных, а также нежелание отвечать на вопросы.

### Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных

**Вывод**

Возможно, потому, что медиана устойчива к выбросам и аномальным значениям.

## Общий вывод

В ходе исследования надёжности заемщиков были изучены полученные данные, обработаны и заполнены пропуски, 
удалены дубликаты и клиенты были объединены в группы по разным параметрам. 

По итогам проделанной работы можно сделать следующие выводы:

- в целом, бездетные семья реже допускают задержки в платежах по кредиту, % должников держится на уровне 7.54%, но данные
  не однозначные, возможно, нужна большая выборка, чем та, которую мы имеем. 
- у группы клиентов, которые находятся или когда-либо находились в браке процент должников на уровне 7% - это на 2.1% ниже, 
  чем у людей никогда не состоявших в официальном браке. 
- уровень дохода напрямую коррелирует с возвратом кредита в срок - в зоне риска по просрочке платежа люди со средним заработком.
- чаще всего возвращают в срок кредиты на собственное жилье, а больше всего задержек по кредитам на автомобили и образование. 
  У групп клиентов, целью кредита у которых является автомобиль и образование: 9.3% должников (на 1.2% выше среднего).

Резюмируя можно сказать, что разброс значений по просроченным платежам не превышает двух процентов (от 7 до 9%), 
что означает разницу в вероятности просрочки платежа на 20%.